:9090 {
    basicauth / {
        {$ADMIN_USER} JDJhJDE0JDVTOUp1NU43NWl5R3JDRnltU3JaNk9VL253SDRwQU9DeHNtb3J3eWpDS3JUcURsS0RaWjk2
    }
    
    reverse_proxy prometheus:9090
}

:9093 {
    basicauth / {
        {$ADMIN_USER} JDJhJDE0JDVTOUp1NU43NWl5R3JDRnltU3JaNk9VL253SDRwQU9DeHNtb3J3eWpDS3JUcURsS0RaWjk2
    }
    
    reverse_proxy alertmanager:9093
}

:9091 {
    basicauth / {
        {$ADMIN_USER} JDJhJDE0JDVTOUp1NU43NWl5R3JDRnltU3JaNk9VL253SDRwQU9DeHNtb3J3eWpDS3JUcURsS0RaWjk2
    }
    
    reverse_proxy pushgateway:9091
}

:3000 
    reverse_proxy grafana:3000
}